*{
	padding: 10PX;
	margin: 0;
}
nav{
	background-color: lime;
	padding-top: 25px;
	overflow: hidden;
	position: relative;
}

	UL li{

		float: left;
		padding: 10px;
		padding-top: 30px;
		list-style-type: none;
		text-transform: uppurcase;
		font-size


	}
.logo{
		width: 100px;
		height: 100px;
		float: right;
		padding-right: 50px;

	}
	.first-section{
		font-size: 35px;
		padding: 50px;
		background-size: cover;
		background-image: url(images/image2.jpg);
		height: 380px;
		position: relative;
		background-position: center center;
	}
	.first-section P{
		padding-top: 160px: ;

	}


	a{
		text-decoration: none;
		color: white;

		}
		
a:hover{
	color: green;
	background-color: #000;
}

.footer{
	background-color: #000000;
	height: 100px;
	padding-top: 100px;
	width: 100%;
	position: relative;

}


	